beautifulsoup4==4.8.0
cachetools==3.1.1
certifi==2019.6.16
chardet==3.0.4
cssselect==1.1.0
dialogflow==0.6.0
Django==2.2.4
feedfinder2==0.0.4
feedparser==5.2.1
geographiclib==1.49
geopy==1.20.0
google==2.0.2
google-api-core==1.14.2
google-auth==1.6.3
google-search==1.0.2
googleapis-common-protos==1.6.0
googlemaps==3.0.2
googletrans==2.4.0
grpcio==1.22.0
idna==2.8
jieba3k==0.35.1
lxml==4.4.1
Pillow==6.1.0
protobuf==3.15.0
pyasn1==0.4.6
pyasn1-modules==0.2.6
python-dateutil==2.8.0
python-decouple==3.1
pytz==2019.2
PyYAML==5.1.2
requests==2.22.0
requests-file==1.4.3
rsa==4.0
selenium==3.141.0
six==1.12.0
soupsieve==1.9.2
sqlparse==0.3.0
tinysegmenter==0.3
tldextract==2.2.1
urllib3==1.25.3
